<div ng-controller="RestrictedCtrl" xmlns="http://www.w3.org/1999/html">
    <h1>LOGGED IN!</h1>

    <div ng-show="greet">
        <p>As you are authenticated, you can now start this AWESOME game!</p>
        <p>Push the button to start</p>
        <img src="../img/startbutton.jpg" alt="start_image">
        <blockquote>{{greet}}</blockquote>
    </div>

    <div ng-show="secret">
        <p>If you have the role <em>secret</em>, you will see the secret message</p>
        <blockquote>{{secret}}</blockquote>
    </div>
</div>